* {
    margin: 0;
    padding: 0;
    /* facilita o dimensionamento dos elementos
    dizendo que a borda do elemento pertence ao
    tamanho total deste */
    box-sizing: border-box;
}

html {
    background-color: #fff; /*Define a cor do fundo*/
    color: #555;
    font-family: 'Poppins', 'Arial', sans-serif; /*a terceira opção é qualquer fonte daquela família, note que o nome da família não esta entre aspas.*/
    font-weight: 300; /*de acordo com a fonte que importamos*/
    font-size: 20px;
    text-rendering: optimizeLegibility; /*otimiza a renderização da fonte para letura, tendo uma melhor qualidade*/
}

header nav{
    position: absolute;
    top: 20px;
    display: flex;
    align-items: center;
    width: 100%;
}

header .logo{
    width: 100px;
    margin-left: 20px;
    border: solid 3px black;
}

header .logo :hover{
    border: solid 8px transparent;
}

header .main-nav a{
    color: white;
    font-size: 1.5rem;
}

header .main-nav a:hover{
    border-bottom: orange;
}

header .main-nav{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

header {
    height: 100vh;
    background-image: linear-gradient(rgb(0, 0, 0,0.1), 
    rgba(0,0,0,0.9)), url(img/img-hero-header.png);
    background-size: cover;
    background-position: center;
}

.hero-text-box{
    position: absolute;
    top: 40%;
    left: 4%;
}

header h1{
    margin: 0;
    color: #fff;
    font-weight: 300;
    word-spacing: 7px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

header a{
    text-decoration: none;
}

.btn:link, 
.btn:visited{
    border: solid orange;
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 10px;
}

.btn-full{
    background-color: orange;
    color: #fff;
}

.btn-ghost{
    color: orange;
}






